<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Milo Calendar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="my-2 my-lg-0">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Add reminder</button>
      </div>
    </ul>
  </div>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>   
