<div class="row monthName">
  <p>{{ month }}</p>
</div>
<table class="calendar-table table table-bordered">
  <thead>
    <tr>
      <th scope="col">Sunday</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of myCalendar; index as i;">
      <td *ngFor="let day of week; index as i;" 
          [ngClass]="{'monthDay' : day.belongsCurrent}">
            {{ day.dayNumber }}
      </td>
    </tr>
  </tbody>
</table>
